body {
    margin: 0;
    height: 70vh;
    background: linear-gradient(45deg, red ,blue);
    background-size: 400% 150%;
    animation: gradientAnimation 5s ease infinite;
    padding: 15%;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
   
    
  }

  @keyframes gradientAnimation {
    0% {
       background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  footer{
    position: relative;
    display:flex;
    justify-content: center;
    bottom: -75%;
}
footer a , footer{
    color: #3c879e;

}